<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ethereum Python Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <div class="container">
                <!-- Button with the link to the other html file. In this case a link between network.html and node.html. -->
                <!-- COPY AND PASTE FOR A NEW BUTTON -->
            <hr>
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-pills nav-justified">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Ganache Transactions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/smartcontractsabi">Smart Contracts ABI</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/smartcontractsbytecode">Smart Contracts Bytecode</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/smartcontractsunderstanding">Understanding Smart Contracts</a>
                            </li>
                        </ul>
                    </div>
                </div>
            <hr>
              <!-- COPY AND PASTE FOR A NEW BUTTON -->
              <!-- Button with the link to the other html file. In this case a link between network.html and node.html. -->
              <div class="row">
                  <div class="col">
                          <div class="form-group">
                              <br><br><br>
                              <label><h4>Smart Contract - Bytecode (Solidity):</h4></label>
                              <input v-model="outgoingTx.contract" type="text" class="form-control form-control-lg" id="node-contract" title="contract" placeholder="Enter contract" autocomplete="off">
                              <br>
                              <button type="submit" class="btn btn-success btn-block btn-lg" @click="ethereum_bytecode" id="userb1">Deploy Smart Contract</button>
                          </div>
              </div><br>
            </div>
            <hr>
            <div v-if="warning" class="alert alert-warning" role="alert">
                {{ warning }}
            </div>
            <div v-if="success" class="alert alert-success" role="alert">
                {{ success }}
            </div>
            <div v-if="error" class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                error: null,
                success: null,
                warning: null,
                outgoingTx: {
                    contract: '',
                    data: ''
                }
            },
            methods: {
                ethereum_bytecode: function () {
                    // Send user to backend
                    var vm = this;
                    axios.post('/smartcontracts_bytecode', {
                        contract: this.outgoingTx.contract
                    })
                        .then(function(response) {
                            vm.error = null;
                            vm.success = response.data.message;
                            vm.warning = response.data.message2;
                        })
                        .catch(function (error) {
                            vm.success = null;
                            vm.error = error.response.data.message;
                            vm.warning = null;
                        });
                }
            }
        })
    </script>
</body>

</html>
